<section class="py-10 my-auto dark:bg-gray-900">
    <div class="lg:w-[80%] md:w-[90%] w-[96%] mx-auto flex gap-4">
        <div
            class="lg:w-[88%] sm:w-[88%] w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center dark:bg-gray-800/40">
            <!--  -->
            <div class="">
                <h1
                    class="lg:text-3xl md:text-2xl text-xl font-serif font-extrabold mb-2 dark:text-white">
                    Profile
                </h1>
                <h2 class="text-grey text-sm mb-4 dark:text-gray-400">Modifier Profile</h2>
                <%= form_with model: @user, url:user_path(@user) , method:"put" do |f| %>
                    <div class="flex flex-col gap-x-5 justify-between">
                        <div class="max-W-200 max-h-65 mb-5">
                            <% if @user.avatar.attached?%>
                            <%= image_tag @user.avatar, class:"w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0" %>
                            <%end%>
                        </div>
                        <details class="open">
                            <!-- Button to be visible -->
                            <summary
                                class=" w-70  block  hover:text-gray-500 hover:underline cursor-pointer">
                                <span>
                                    <%= @user.followed_companies.count %>
                                    Abonnemements
                                    <i class="ri-group-3-fill"></i>
                                </span>
                            </summary>

                            <!-- Content it will be hidden, till user clicks on the summary button. -->
                            <div class="bg-black rounded-2xl w-[50%] h-[40%] my-auto mx-auto absolute inset-0 text-gray-600 p-4 py-8">
                                <span onclick="document.querySelector('details').removeAttribute('open')"
                                    class="bg-gray-400 rounded-full flex items-center justify-center text-3xl font-bold uppercase absolute -right-4 -top-4 w-10 h-10 text-white hover:bg-blue-200 hover:duration-200 cursor-pointer">
                                    X
                                </span>
                                    <div class="flex justify-between items-center mb-4">
                                        <h3 class="text-xl font-bold leading-none text-gray-900 text-white">Mes Abonnements</h3>
                                    </div>
                                    <div class="flow-root">
                                        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                                            <% if @followed_companies.any? %>
                                                <% @followed_companies.each do |company| %>
                                                    <li class="py-3 sm:py-4">
                                                        <div class="flex items-center space-x-4">
                                                            <div class="flex-shrink-0">
                                                                <% if company.logo.attached? %>
                                                                    <%= image_tag company.logo, class:"w-8 h-8 rounded-full object-cover", alt:"Logo de l'entreprise #{company.company_name}" %>
                                                                <% end %>
                                                            </div>
                                                            <div class="flex-1 min-w-0">
                                                                <p class="text-sm font-medium text-gray-900 truncate text-white">
                                                                    <%= company.company_name %>
                                                                </p>
                                                            </div>
                                                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                                                <%= form_with url: unfollow_path, method: "delete" do |f| %>
                                                                    <%= f.hidden_field :user_id, value: current_user.id %>
                                                                    <%= f.hidden_field :company_id, value: company.id%>
                                                                    <button class="text-xs bg-green-500 px-4 py-2 text-white hover:bg-red-600 transition duration-300 ease-in-out rounded-md" type="submit">
                                                                        Se désabonner <i class="ri-notification-off-line"></i>
                                                                    </button>
                                                                <% end %>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% end %>
                                            <% else %>
                                                <li class="py-3 sm:py-4 text-center text-gray-500 dark:text-gray-400">
                                                    Vous ne suivez aucune entreprise pour le moment.
                                                </li>
                                            <% end %>
                                        </ul>
                                    </div>
                            </div>  
                        </details>
                        
                    </div>
                    <div class="flex flex-col lg:flex-row gap-2 justify-center w-full">
                        <div class="w-full  mb-4 mt-6">
                            <label for="" class="mb-2 dark:text-gray-300">Nom </label>
                            <%= f.text_field :last_name ,
                                    class:"mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800",
                                    placeholder:"Nom business"%>
                        </div>
                        <div class="w-full  mb-4 lg:mt-6">
                            <label for="" class=" dark:text-gray-300">Prenom</label>
                            <%= f.text_field :first_name,
                                    class:"mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800",
                                    placeholder:"Dans quel secteur vous opérez ?"%>
                        </div>
                        <div class="w-full  mb-4 lg:mt-6">
                            <label for="" class=" dark:text-gray-300">Email</label>
                            <%= f.text_field :email,
                                    class:"mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800",
                                    placeholder:"example@gmail.com"%>
                        </div>
                    </div>
                    <div class="mt-5">
                        <label class="block  text-sm font-medium text-gray-900 dark:text-white" for="file_input">Photo profile</label>
                        <%= f.file_field :avatar,
                            class:"block text-sm text-gray-900 border border-gray-300 rounded-lg 
                            cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" 
                        %>
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
                    </div>  
                                    
                    <button type="submit" class=" bg-blue-500 text-white h-10 p-2 mt-10">Modifier</button>
                    
                <%end%>
            </div>
        </div>
    </div>
</section>


