
<div class="flex flex-col mt-5 gap-y-5 items-center">
    <%# Filter %>
    <div class="w-[150px] text-gray-900 dark:text-gray-100">
        <div class="relative w-full group">
            <label class="text-xs text-gray-400">Select Category</label><button class="py-2.5 px-3 w-full md:text-sm text-site bg-transparent border border-dimmed  focus:border-brand focus:outline-none focus:ring-0 peer flex items-center justify-between rounded font-semibold">All</button>
            <div
                class="absolute z-[99] top-[100%] left-[50%] translate-x-[-50%] rounded-md overflow-hidden shadow-lg min-w-[200px] w-max peer-focus:visible peer-focus:opacity-100 opacity-0 invisible duration-200 p-1 bg-gray-100 dark:bg-gray-800  border border-dimmed text-xs md:text-sm">
                <div
                    class=" w-full block cursor-pointer hover:bg-white dark:hover:bg-gray-900 dark:bg-gray-800 hover:text-link px-3 py-2 rounded-md">
                    All (9)</div>
                <div
                    class=" w-full block cursor-pointer hover:bg-white dark:hover:bg-gray-900 dark:bg-gray-800 hover:text-link px-3 py-2 rounded-md">
                    Full Stack (6)
                </div>
                <div
                    class=" w-full block cursor-pointer hover:bg-white dark:hover:bg-gray-900 dark:bg-gray-800 hover:text-link px-3 py-2 rounded-md">
                    Front End (1)
                </div>
                <div
                    class=" w-full block cursor-pointer hover:bg-white dark:hover:bg-gray-900 dark:bg-gray-800 hover:text-link px-3 py-2 rounded-md">
                    Freelance (1)
                </div>
                <div
                    class=" w-full block cursor-pointer hover:bg-white dark:hover:bg-gray-900 dark:bg-gray-800 hover:text-link px-3 py-2 rounded-md">
                    New Stack
                    Project (1)</div>
            </div>
        </div>
        </div>
        <%#  end %>


    <div class="max-w-screen-xl mx-auto p-2 sm:p-10 md:p-10">

        <%# Jobs Card %>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
            <% @jobs.each do |job| %>
                <!-- CARD -->
                <div class="rounded overflow-hidden shadow-lg flex flex-col">
                    <div class="relative ">
                        <%if job.company.present? %>
                            <a href="<%= company_job_path(job.company ,job) %>">  
                            <%if job.company.logo.attached? %>                          
                                <%= image_tag job.company.logo, class:"w-full"%>
                            <%end%>
                        <%end%>
                            <div
                                class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                            </div>
                        </a>
                        <%if job.company.present?%>
                            
                            <%if current_user%>
                                <% if !is_followed_by_user(job.company.id) %>
                                    <%= form_with url: follows_path, method:"post" do |f|%>
                                        <div
                                            class="text-xs absolute top-0 right-0 bg-green-500 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                                            <%=f.hidden_field :company_id, value: job.company.id %>
                                            <%=f.hidden_field :user_id, value: current_user.id %>
                                            <button type="submit">Suivre <i class="ri-notification-2-line"></i></button>
                                        </div>
                                    <%end%>
                                <% else %>
                                    <%= form_with url: unfollow_path, method: :delete do |f|%>
                                        <div
                                            class="text-xs absolute top-0 right-0 bg-red-500 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                                            <%=f.hidden_field :company_id, value: job.company.id %>
                                            <%=f.hidden_field :user_id, value: current_user.id %>
                                            <button type="submit">Se désabonner <i class="ri-notification-off-line"></i></button>
                                        </div>
                                    <%end%>
                                <% end %>
                            <%end%>

                        <%end%>
                    </div>
                    <div class="px-6 py-4 mb-auto">
                        <%if job.company.present?%>
                            <a href="<%= company_job_path(job.company, job)%>"
                                class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">
                                <%= job.title %>
                            </a>
                        <%end%>
                        <p class="text-gray-500 text-sm line-clamp-2">
                            <%=job.description%>
                        </p>
                    </div>
                    <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                        <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                            <i class="ri-building-4-fill"></i>
                            <%if job.company.present?%>
                                <a href="<%= company_path(job.company)%>">
                                    <span class="ml-1"><%= job.company.company_name%></span>
                                </a>
                            <%end%>
                        </span>

                        <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                            <span class="ml-1"><%= job.location%></span>
                        </span>
                    </div>
                </div>
            <%end%>
            
        </div>  
        <%# End Jobs Card %>
        
    </div>
</div>